.container {
    height: 100vh;
    padding: 5rem;
    box-sizing: border-box;
  }
.suggestions{
  cursor: pointer;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.suggestions:hover{
  color:#16a085;
}
.age-p{
  margin: 1rem !important;
  font-size: 1.25rem;
  text-align: left;
  
}
.age-flex{
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: row;
}